
        body {
            background:black;            
            background-size:cover;
            color:whitesmoke;
            margin:0;
        }
        div {
            margin-left:2%;
        }
        .post img {            
            border-radius:1em;
            margin-right:15px;
        }
        img {
            margin-bottom:2%;
            width:100%;
        }
        @media only screen and (min-width:600px) {
            .post img {
                float:left;
            }
        }
        h1 {
            text-align:center;
            font-style:italic;
        }

        @media only screen and (min-width:600px) {
            img {
                width:50%;
            }
        }
        .post {
            border-top:1px solid rgb(206, 204, 204);
            border-bottom:1px solid rgb(206, 204, 204);
            overflow:hidden;
            padding:20px;
        }
        .post, p { 
            display:block;
            margin: 2px 0 0 0;
        }
        img {
            max-height:30%;
        }
        time {
            display:block;
            text-align:right;
        }

        footer {
            font-weight:bold;
            margin-bottom:5px;
            color:#e8e7cf;
            display:inline-block;
            bottom:2%;
            width:100%;
            text-align:center;
        }