
        body {
            background:black;            
            background-size:cover;
            color:whitesmoke;
            font-family: Raleway;
            margin:0;
        }
        div {
            margin-left:7%;
        }
        .post img {
            width:40%;
            border-radius:1em;
            float:left;
            margin-right:15px;
        }
        .post {
            border-top:1px solid rgb(206, 204, 204);
            border-bottom:1px solid rgb(206, 204, 204);
            overflow:hidden;
            padding:20px;
        }
        .post, p { 
            display:block;
            margin: 2px 0 0 0;
        }
        img {
            max-height:30%;
        }
        time {
            display:block;
            text-align:right;
        }