        body, html {
            margin:0;
            height:100%;
            min-height:100%;
        }
        form {
            display:flex;
            flex-direction:column;
            width:70%;
            padding:10px;   
            margin:10px;
            margin-right:15px;
            box-sizing:border-box;
            border-radius:0.5em;
            font-size:20px;
            font-weight:bolder;
        }
        input, label, textarea {
            padding:10px;
            border-radius:0.8em;
        }
        label {
            color:rgb(255, 255, 255);
        }
        section {
            display:flex;
            justify-content:center;
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("imgs/contact-background2.jpg");
            background-size:cover;
            height:100%;
        }
        h1 {
            writing-mode:vertical-rl;
            text-orientation:sideways;
            padding-top:35px;
            font-family: Roboto;
            font-weight:bolder;
            color:rgb(104, 104, 214);
            display:block;
            margin:0;
        }
        @media only screen and (max-width:359px) {
            h1 {
                margin:0;
            }
        }

        form {
            display:flex;
            justify-content:center;
        }
        input:focus, #message:focus {
            outline: none;
            border: solid rgb(104, 104, 214) 2.5px;
        }
        
        input[type="submit"]:hover {
            background: #e8e7cf;
            color: rgb(104, 104, 214);
        }
        input[type="submit"] {
            background: rgb(104, 104, 214);
            color: #e8e7cf;
            font-size:16px;
            margin-top:3%;
            width:40%;
        }

        textarea {
            font-family:Raleway;
            height:25%;
        }

        #github {
            content:url("imgs/github1.png");
            width:15%;
            margin-left:5%;
            margin-top:5%;
            border-radius:0.8em;
            display:inline-block;
            box-sizing:border-box;
        }
        #linkedin {
            content:url("imgs/linkedin1.jpeg");
            width:15%;
            margin-left:5%;
            margin-top:5%;
            border-radius:0.8em;
            display:inline-block;
            box-sizing:border-box;
        }
        #instagram {
            content:url("imgs/instagram1.png");
            width:15%;
            margin-left:5%;
            margin-top:5%;
            border-radius:0.8em;
            display:inline-block;
            box-sizing:border-box;
        }
        div {
            text-align:center;
            margin-top:10%; 
        }
        
        footer {
            font-weight:bold;
            font-size:16px;
            color:rgb(139, 135, 135);
            display:block;
            width:100%;
            text-align:center;
            bottom:2%;
        }