body, html {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(62, 52, 52, 0.6)), url("imgs/background1.jpg");
    background-size:cover;
    animation: fadeIn ease 3.5s;
    -webkit-animation: fadeIn ease 3.5s;
    -moz-animation: fadeIn ease 3.5s;
    -o-animation: fadeIn ease 3.5s;
    -ms-animation: fadeIn ease 3.5s;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80;
} 
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 27px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size:18px;
}
.hero-text button:hover {
    background-color: #555;
    color: white;
}
button {
    border-radius:5em;
}
h1 {
    font-size:60px;
    color:whitesmoke;
}
p {
    font-size:20px;
    color:whitesmoke;
}

img {
    max-width:65%;
    border-radius:2em;
    border:solid whitesmoke 1px;
}