body, html {
    font-family: Raleway;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(27, 23, 22, 0.5)), url("imgs/background5.jpg");
    background-size:cover;
    margin:0;
    height:100%;
}
h1, h2 {
    margin-left:1%;
}
div {
    margin-left:0.5%;
    text-align:center;
    margin-bottom:5px;
    border-bottom:solid whitesmoke 1px;
}
section {
    margin-left:3%;
    padding:5px;
    color:whitesmoke;
}
@media only screen and (min-width:1300px) {
    section {
        margin-left: 7%;
    }
}
aside {
    display:flex;
    justify-content:center;
}
.resume {
    content:url("imgs/resume1.jpeg");
    width:15%;
    margin-right:5%;
    margin-top:5%;
    border-radius:0.5em;
}
.email {
    content:url("imgs/email1.jpeg");
    width:15%;
    margin-left:5%;
    margin-top:5%;
    border-radius:0.8em;
}