body, html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(27, 23, 22, 0.5)), url("imgs/background5.jpg");
    background-size:cover;
    margin:0;
    height:100%;
}
h1, h2 {
    margin-top:3%;
    text-align:center;
}
h1 {
    margin-bottom:25px;
    font-family:Roboto;
}
h2 {
    font-weight:lighter;
}
span {
    border-bottom: solid whitesmoke 1px;    
}
div {
    margin-left:0;
    text-align:center;
    margin-bottom:5px;
    border-bottom:solid whitesmoke 1px;}

    section {
    margin-left:0%;
    padding:0;
    color:whitesmoke;
}
@media only screen and (min-width:1300px) {
    section {
        margin-left: 7%;
    }
}
aside {
    display:flex;
    justify-content:center;
}
.resume {
    content:url("imgs/resume1.jpeg");
    width:15%;
    margin-right:5%;
    margin-top:5%;
    border-radius:0.8em;
}
.email {
    content:url("imgs/email1.jpeg");
    width:15%;
    margin-left:5%;
    margin-top:5%;
    border-radius:0.8em;
}

footer {
    font-weight:bold;
    color:rgb(255, 255, 255);
    padding-top:3%;
    display:block;
    width:100%;
    text-align:center;
}