  .navbar {
    overflow: hidden;
    display:flex;
    justify-content:center;
    background-color:whitesmoke;
    border-radius:0.15em;
  }

  .navbar-two {
    position:fixed;
    bottom:3%;
    height:30px;
    width:100%;
    font-size:8px;
    text-align:center;
    background-color:whitesmoke;
}

  ul {
    list-style-type: none;
    padding: 0px;

  }

  li {
  float: left;
  font-size:18px; 
  }

  li a {
    display:block;
    color: #222;
    text-align: center;
    padding: 7px 9px;
    text-decoration: none;
    border-radius:0.15em;
    margin:2px;
  }
  
  a:hover:not(.active){
    border:solid black 1px;
    color:black;
  }
  .active {
    background-color: #526966;
  }

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
        
        @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        
        }



    