  .navbar {
    overflow: hidden;
    display:flex;
    justify-content:center;
    background-color:#eeedd6;
    border-radius:0.15em;
  }

  .navbar-two {
    display:inline-block;
    height:55px;
    width:100%;
    font-size:8px;
    text-align:center;
    background-color: #eeedd6;
    padding-bottom:10px;
}

  ul {
    list-style-type: none;
    padding: 0px;
    display:flex;
    justify-content:center;
    margin-bottom:0;
    width:100%;

  }

  li {
    float: left;
    font-size:18px;
    width:24%;
  }

  li a {
    display:block;
    color: #222;
    text-align: center;
    padding: 7px 9px;
    text-decoration: none;
    margin:2px;
  }
  a:hover:not(.active){
    padding: 15px;  
    color:black;
  }
  .active {
    border-bottom:solid black 2px;
  }

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
        
        @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }




    